:root {
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,400;1,600&display=swap');
    font-family: 'Raleway', sans-serif;
    --color-primary: #006eed;
    --color-primary-dark: #005ab3;
    --color-secondary-dark: #333333;
    --color-gray-dark: #444444;
}

html {
    height: 100%;
    background-color: var(--color-secondary-dark);
    position: relative;
}
body {
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

header {
    color: white;
    font-size: 0.85rem;
    padding: 1rem 0;
    background-color: #333333;
    z-index: 1;
    display: flex;
    align-items: center;
}
svg {
    fill: #b7b7b7;
    padding-left: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

svg:hover{
    fill: white;
    padding-left: 1rem;
    transition: 0.3s;
}

section {
    padding-bottom: 120px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

section > h1:first-child {
    color: var(--color-primary);
    padding: 1rem;
}

.grid{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr;

}

#repositories {
    list-style: none;
    text-align: center;
    padding: 0;
}

.repository-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border: #dddddd 1px solid;
    box-shadow: 0px 1px 10px #e7e7e7;
}

.repository-item > * {
    margin: 0 1rem;
}

.repository-item > div:first-child {
    color: #575757;
    width: 50%;
    text-align: start;
}

.repository-item > div:first-child > h2 {
    color: var(--color-primary);
    margin: 0.5rem 0;
    font-weight: 400;
}

.repository-item > div:first-child > small {
    color: #979797;
    font-style: italic;
    padding-left: 0.5rem;
    font-size: 0.75rem;
}

.repository-item > div:first-child > p:first-of-type{
    font-size: 0.8rem;
    color: var(--color-gray-dark);
}

.button{
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 0.75rem;
    color: white;
    border-radius: 6px;
    font-size: 0.75rem;
    transition: 0.3s;
    display: inline-block;
}

.button:hover {
    background-color: var(--color-primary-dark);
    transition: 0.3s;
}

.repository-item img {
    width: 200px;
    padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .repository-item {
        display: block;
    }

    .repository-item > * {
        width: 100% !important;
        margin: 0;
    }
}

footer {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 0.85rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    background-color: #333333;
    z-index: 1;
}